# General
draft/
something/
client/config

# Dependencies
*.log
*.pid
*.env

# Go
go.mod
go.sum
/server_api/vendor/
/client/vendor/
/server_api/*.exe
/client/*.exe

# Node
/server_web/node_modules/
/server_web/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

